<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>CloudE360</span>
  <!-- Wrap the navigation buttons in a container -->
  <span class="spacer"></span> <!-- This will push the following elements to the right -->
  <span class="example-button-row">
    <button mat-flat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</button>
    <button mat-flat-button routerLink="/dashboard/dashboard" routerLinkActive="active">Play</button>
  </span>
  <!-- Login and Register are moved out of the example-button-row span and adjusted with flex -->
  <button mat-flat-button routerLink="/authentication/login" routerLinkActive="active">Login</button>
  <button mat-flat-button routerLink="/authentication/register" routerLinkActive="active">Register</button>
</mat-toolbar>
